



#resumen_general
{		
		background-color:#3F4C6B;
		background-image:url();
		display:inline-block;
		
		height:80px;
		
		border: 3px #d7d3d2 solid;
		border-radius: 8px;
	
		color:#53FF6F;
		
		opacity:0.8;
		
		margin-top:30px;
		margin-left:0px;
		vertical-align:top;
		width:230px;
}


#flecha_roja
{
	/* border:1px solid red; */
	display:inline-block;
	
	background-image:url('../imagenes/flecha.png') ;
	
	background-repeat:repeat-x;
	
	margin-left:420px;
	margin-top:58px;
	height:23px;
	
	vertical-align:top;
	
	width:96px;
	
}

/*Estilo para */

.capaConfiguracion
{
	background-color:#39f;
	/*background-color:#C5E695;*/
	
	border-radius: 8px;
	display:none;
	font-size:20px;
	
	
	margin-top:0px;
	margin-left:0px;
	
	
	padding-left:5px;
	padding-right:15px;
	
	width:220px;
	
}


.capaConfiguracion form
 {
	font-size: 10px;
	
	margin:auto;

}

.capaConfiguracion ol li 
{

line-height: 15px;
list-style: none;

}



.capaConfiguracion	label
{
	
	font-size:16px;
	width:5px;
	
}

.capaConfiguracion	input
{
		
	float: right;
	margin-right: 5px;

	width:50px;
	
	
}

/*Estilo input slider */
 .capaConfiguracion input[type=range]:first-of-type {
	
	margin-right: 5px;
	width: 65px;
}

.capaConfiguracion	#uno
{
		
	float: right;
	font-size:16px;
	margin-right: 5px;

	
}

.capaConfiguracion	span
{
	font-size:16px;
	
	float: right;
		
}


.capaConfiguracion	button 
{
	margin:3px;
		
}

/**/


.capaIconoConfiguracion
{
		/*background-color:white;*/
		 background-image:url('../imagenes/Configuracion.jpg');
		background-position: top center;
		background-size: cover;
		
		border:1px blue solid;
		border-radius: 8px;
		
		display:inline-block; 
		
		height:100px;
		
		margin-top:0;
		margin-left:0px;
		
		opacity: 0.9;
		
		padding-left:15px;
		padding-right:15px;
		
		vertical-align: top;
		width:80px;
		
		
		
		/* Importante
		las propiedades display:inline-block;  y  vertical-align: top;
		hacen que las capas se muestren una seguida de otra
		en linea horizontal   */
		
		
	
		
}

.capaIconoClima 
{
		background-image:url('../imagenes/Seco.jpg');
		background-position: top center;
		background-size: cover;
		
		border:1px blue solid;
		border-radius: 8px;
		
		display:inline-block; 
		
		height:100px;
		
		margin-top:0;
		margin-left:0px;
		
		
		
		padding-left:15px;
		padding-right:15px;
		
		vertical-align: top;
		width:80px;
		
		/* Importante
		las propiedades display:inline-block;  y  vertical-align: top;
		hacen que las capas se muestren una seguida de otra
		en linea horizontal   */
		
		
}

/* Estilo para capa de mostrar resultados*/

.capaResultado
{
	background-color:#3F4C6B;
	/*background-image:url('../imagenes/Excede.png') ;*/
	background-repeat:repeat-x;
	background-repeat:repeat-y;
	border: 3px #d7d3d2 solid;
	border-radius: 8px;
	
	color:#53FF6F;
	display:none;
	font-weight:bold;
	
	height:190px;
	
	margin:0px;
	margin-top:100px;
	margin-left:-25px;
	
	opacity: 0.8;
	
	padding-left:5px;
	padding-right:15px;
	
	width:250px;
	
	
	text-align:center;
	
}

 

.capaResultado div
{

	margin-top:140px;
	
}


/***/
